<br><br>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="final;else display;">
        <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Company</th>
                <th>Current Price</th>
                <!-- <th>TREND</th> -->
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of final; let i = index" [@trending]="row[2]">
                <th scope="row">{{i}}</th>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <!-- <td>{{row[2]}}</td> -->
                <td><span>{{row[3] | timeAgo}}</span></td>
              </tr>
            </tbody>
          </table>
    </div>
    <ng-template #display><p class="align">Please Wait Data Loading ...</p></ng-template>
  </div>
</div>